
@using .core.Extenstions
@using .web.Areas.Manage.Models
@model EventManageViewModel

<style>
    @@media (min-width: 768px) {
        .modal-dialog {
            width: 600px;
            margin: 230px auto;
        }
    }
</style>
<div class="Subhead Subhead--spacious border-bottom-0 mb-0">
    <h1 class="Subhead-heading alert-danger" style="padding: 15px;">
        Danger Zone
        <small>Delete <span style="text-decoration: underline;">@Model.Name</span>&nbsp; Event</small>
    </h1>
</div>
<div class="Box danger" style="border: red solid 1px; padding: 35px;">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myDeleteModal">
        Delete this event
    </button>
    <p style="margin: 20px;">
        Once you delete an event, there is no going back. Please be certain.
    </p>

    <!-- Modal -->
    <div class="modal fade" id="myDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Event</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="delete_repo_confirm">

                        <h2 class="facebox-header" data-facebox-id="facebox-header">Are you ABSOLUTELY sure?</h2>

                        <div class="facebox-alert" data-facebox-id="facebox-description">
                            Unexpected bad things will happen if you don’t read this!
                        </div>

                        <p>
                            This action <strong>CANNOT</strong> be undone. <br>This will permanently delete the <strong>@Model.Name</strong> event.
                        </p>

                        <p>Please type in the name of the event to confirm.</p>

                        @using (Html.BeginForm("ConfirmDelete", "Dashboard", FormMethod.Post))
                        {

                            <p>
                                @Html.HiddenFor(m => m.Id)
                                @Html.TextBoxFor(m => m.ConfirmDeleteEventName,  new { @class = "form-control input-block", onchange = "validate()", required = "'required'", pattern = @Model.Name.GetValidatePattern(), Name="verify", title = "help"})

                            </p>
                            <button id="btn-submit" type="submit" class="btn btn-block btn-danger" data-disable-invalid="" disabled="">I understand the consequences, delete this event</button>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>








</div>

<script type="text/javascript">
    function validate() {

        var obj = $("#@Html.IdFor(x=>x.ConfirmDeleteEventName)")[0];
        var valid = obj.checkValidity();
        $("#btn-submit").attr("disabled", true);
        if (valid) {
            $("#btn-submit").attr("disabled", false);
        }
    }

    $(document).ready(function() {



    });
</script>